body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    padding: 0px;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

:root {
    --header-color: rgb(19, 201, 149);
}

#navBar {
    background-color: var(--header-color);
    height: 60px;
}

#navBar .navBrand {
    width: 20%;
    padding-top: 16px;
    padding-left: 15px;
    float: left;
    color: rgba(127, 127, 127, 0.816);
    font-weight: bold;
}

#navBar .nav {
    width: 80%;
    float: left;
}

#navBar .nav ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    margin-top: 15px;
}

#navBar .nav ul li {
    float: left;
    text-decoration: none;
}

#navBar .nav ul li a:link,
#navBar .nav ul li a:visited {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
}

#navBar .nav ul li a:hover {
    background-color: rgb(3, 104, 3);
}

.center {
    text-align: center;
}

.table-container {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    overflow: auto;
    max-height: 700px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px rgb(196, 196, 196);
    min-width: 1000px;
}

.table caption {
    padding: 12px 10px;
    font-size: 22px;
    font-weight: bold;
    background-color: rgb(101, 101, 253);
    color: white;
    letter-spacing: 2px;
}

.lang-hindi {
    vertical-align: top;
}

.table td {
    padding: 8px;
}

.table th {
    padding: 12px;
    text-align: left;
    background-color: rgb(179, 178, 178);
    color: white;
}

.table tr {
    transition: background-color 0.4s;
}

.table tr:nth-child(even) {
    background-color: rgb(225, 225, 225);
}

.table tr:hover {
    background-color: rgb(222, 201, 201);
}

.pagination {
    background-color: rgb(149, 149, 149);
    width: 350px;
    margin: auto;
    margin-bottom: 300px;
    font-size: 20px;
    height: 50px;
}

.pagination ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.pagination ul li {
    width: 50px;
    text-align: center;
    float: left;
}

.pagination ul li a:link {
    height: 50px;
    text-decoration: none;
    color: #fff;
    width: 50px;
    display: inline-block;
    line-height: 50px;
}

.pagination ul li a:hover {
    background-color: rgb(59, 227, 227);
}


/*card style*/

.card-container {
    clear: both;
}

.card {
    width: 300px;
    box-shadow: 2px 2px 3px 3px rgb(116, 115, 115);
    margin: 20px;
}

.float-left {
    float: left;
}

.card-head {
    color: white;
    background-color: var(--header-color);
    padding: 10px 18px;
}

.card-body {
    padding: 18px;
}

.card-body h4 {
    padding: 0px;
    margin: 0px;
}

.card-body ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.card-body ul li {
    border-bottom: 1px solid rgb(87, 87, 87);
    padding: 10px;
    transition: background-color 0.3s;
}

.card-body ul li:hover {
    background-color: rgb(189, 189, 189);
}

.card-footer {
    background-color: rgb(180, 180, 180);
    text-align: right;
    padding: 12px;
}


/* SignUp card*/

.signup-card {
    margin: auto;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.form-element {
    height: 50px;
}

.form-label {
    width: 30%;
    float: left;
    font-size: 17px;
}

.form-control-container {
    width: 70%;
    float: left;
}

.form-control {
    width: 100%;
    border-radius: 3px;
    padding: 8px;
    border: 1px solid rgb(96, 147, 223);
    transition: box-shadow 0.3s;
}

.form-control:focus {
    box-shadow: 0px 0px 3px 2px rgb(100, 149, 249);
    outline: none;
}

.btn {
    background-color: rgb(75, 156, 255);
    color: white;
    padding: 5px 18px;
    box-shadow: 0px 0px 2px 2px rgb(128, 128, 128);
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: 1px solid rgb(220, 220, 220);
    margin: 3px 6px;
}

.btn:hover {
    background-color: rgb(110, 110, 255);
    box-shadow: 0px 0px 3px 3px rgb(118, 118, 118);
}

.reset-button {
    background-color: rgb(255, 98, 98);
}

.reset-button:hover {
    background-color: rgb(255, 39, 39);
}